<html>
<head>
    <link rel="stylesheet" href="/style/style.css">
    <meta charset="UTF-8">
    <title>Sign up</title>
</head>
<body>

    <nav>
        <div id="div1"><lable><img id="img1" src="img/Aminslogo.png" alt=""></lable></div>
        <div id="div2">
         <ul>
            <li><a href="/Home">Home</a></li>
            <li><a href="/Login">Login</a></li>
             <li><a href="/About">About</a></li>
         </ul>
        </div>
    </nav>
    <br/>
    <div id="div3">
     <h1 id="h1">Welcome to this Website</h1>
    </div>
    <br/><br/><br/>


    <div id="div4">
     <div id="div5">
         <form action="/signup" method="POST">
             <br/>
             <h2>Sign up</h2>
             <br/>
             <label for="fname">First Name: &nbsp;&nbsp;</label>
             <input id="fname" type="text" name="fname"> <br/> <br/>
             <label for="lname">Last Name:&nbsp;&nbsp;&nbsp;</label>
             <input id="lname" type="text" name="lname"><br/><br/>
             <label for="pass">Password:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
             <input id="pass" type="password" name="password"><br/><br/>
             <label for="num">Age:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
             <input id="num" type="number" name="age"><br/><br/>
             <label for="email">Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
             <input id="email" type="email" name="email"><br/><br/><br/><br/>
             <input id="sub" type="submit" value="Sign up">
         </form>
     </div>
    </div>


    <%if(signup == 1){%>
        <div id="div6">
            <h1 id="erh1">!Error!</h1>
            <h1 id="erh2">you should enter all information correctly</h1>
        </div>
    <%}%>

</body>
</html>