<html>
<head>
    <link rel="stylesheet" href="/style/style2.css">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>


<nav>
    <div id="div1"><lable><img id="img1" src="img/Aminslogo.png" alt=""></lable></div>
    <div id="div2">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/Login">Login</a></li>
            <li><a href="/About">About</a></li>
        </ul>
    </div>
</nav>
<div id="div3">
    <h1 id="h1">Hier can you login</h1>
</div>
<br/><br/><br/>


    <div id="div4">
        <div id="div5">
            <form action="/login" method="POST">
             <br/>
                <h2>Login</h2>
                <br/>
                <label for="email">Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input id="email" type="email" name="email2"><br/><br/>
                <label for="pass">Password:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input id="pass" type="password" name="password2"><br/><br/><br/>
                <input id="sub" type="submit" value="Login">
            </form>
        </div>
    </div>
    <br/>
    <%if(login == 1){%>
        <div id="div6">
            <h1 id="erh1">the information is false</h1>
        </div>
    <%}%>
</body>
</html>