<html>

    <head>
        <link rel="stylesheet" href="/style/style2.css">
        <title>کاربر</title>
    </head>

    <body>
        <li>id : <%= users[w].id%></li>
        <li>name : <%= users[w].name%></li>
        <li>email : <%= users[w].email%></li>
    </body>

</html>
