body{
    background-image: url("./../img/Background.jpg");
    background-size: cover;
}
nav{
    background-color: #54a3ff;
    height: 130px;
    border-radius: 25px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
ul{
    list-style: none;
    display: flex;
}
a{
    text-decoration: none;
    font-family: Candara;
    margin: 50px;
    font-size: 30px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    transition: 2s;
    font-weight: bold;
}
a:hover{
    background-color: #545654;
    border-radius: 35px;
    transition: 2s;
    padding: 15px;
}
#img1{
    height: 65%;
}
#div1{
    margin-left: 150px;
}
#div2{
    margin-right: 100px;
}
#div3{
    text-align: center;
}
#h1{
    text-align: center;
    color: white;
    display: inline-block;
    margin-top: 50px;
    background-color: rgba(89, 89, 89, 0.82);
    padding: 20px;
    border-radius: 30px;
    font-family: Consolas;
    padding-left: 150px;
    padding-right: 150px;
}
#div4{
    height: 500px;
    width: 500px;
    background-color: rgba(72, 157, 173, 0.64);
    justify-content: center;
    margin: auto;
    border-radius: 25px;
    border: 2px solid lavender;
}
#inf{
    font-family: Consolas;
    font-size: 20PX;
    margin: auto;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
}



