body{
    background-color: darkgrey;
}

h1{
        font-size: 100px;
        padding: 10px;
        border: 5px solid #4d1394;
        text-align: center;
}

table{
    border: 10px solid darkcyan;
    padding: 50px;
}

td, th{
    border: 1px solid skyblue;
    padding: 30px;
    text-align: center;
}

input{
    text-align: center;
    padding: 10px;
    margin-left: 50px;
}

p{
  font-size: 20px;
    text-align: center;
}